*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(217deg, rgba(5, 5, 5, 0.8), rgba(255,0,0,0) 70.71%),           
                linear-gradient(127deg, rgba(51, 51, 51, 0.8), rgba(0,255,0,0) 70.71%),            
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

main{
    width: 100vw;
    height: 100vh;
}

.caixa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

/*
      ******* Seção Imagens ******* 
*/

#imagemForca{
    background: url(../imagens/imagem-1.png) no-repeat center;
    width: 217px;
    height: 265px;
    padding: 10px;
    margin: auto;
}

/*
      ******* Seção Palavras ******* 
*/

#painel{
    
    margin: 30px 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.letras{
    border-bottom: 3px solid rgb(1, 172, 252);
    font-size: 1.2em;
    text-transform: uppercase;
    float: left;
    letter-spacing: 2px;
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

/*
      ******* Seção teclado ******* 
*/


button{
    width: 25px;
    height: 30px;
    margin: 1.5px;
    padding: 3px;
    cursor: pointer;
    border: 1px solid rgb(182, 5, 152);
    box-shadow: 5px 5px 5px rgb(182, 5, 152);
}

.botoes{
    background: rgb(252, 1, 210);
    color: white;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.botoes:hover{
    background: rgb(182, 5, 152);
    transform: scale(1.02);
}


.botaoMaior{
    width: 83px;
}


/*
      ******* Seção dicas ******* 
*/

#dica{
    margin: 40px;
    text-align: center;
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    border-bottom: 1px solid grey;
}

/*
      ******* Tipografias ******* 
*/

h1{
    font-size: 1em;
    text-align: center;
}

/*
      ******* Responsive breakpoints ******* 
*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px){
    button{
        width: 25px;
        height: 30px;
    }
    .botoes{
        font-size: 0.8em;
    }
    .botaoMaior{
        width: 83px;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px){
    button{
    width: 35px;
    height: 40px;
    }
    .botoes{
        font-size: 1em;
    }
    .botaoMaior{
        width: 110px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px){
    button{
    width: 40px;
    height: 45px;
    }
    .botoes{
        font-size: 1.1em;
    }
    .botaoMaior{
        width: 125px;
    }
   
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px){
    button{
        width: 45px;
        height: 50px;
        margin: 1.8px;
    }
    .botoes{
        font-size: 1.1em;
    }
    .botaoMaior{
        width: 140px;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px){
    button{
        width: 50px;
        height: 55px;
        margin: 2px;
    }
    .botoes{
        font-size: 1.1em;
    }
    .botaoMaior{
        width: 155px;
    }
}