*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(217deg, rgba(5, 5, 5, 0.8), rgba(255,0,0,0) 70.71%),           
                linear-gradient(127deg, rgba(51, 51, 51, 0.8), rgba(0,255,0,0) 70.71%),            
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

main{
    width: 100vw;
    height: 100vh;
}

.caixa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

#imagemForca{
    padding: 10px;
   
}

#painel{
    padding: 10px;
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.letras{
    border-bottom: 3px solid rgb(1, 172, 252);
    font-size: 1.5em;
    text-transform: uppercase;
    float: left;
    letter-spacing: 2px;
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

h1{
    font-size: 1em;
    text-align: center;
}



table{
    background: rgba(0, 0, 0, 0.7);
    width: auto;
    height: auto;
    border-radius: 5px;
    
}

button{
    width: 40px;
    height: 40px;
    margin: 3px;
    cursor: pointer;
}
.botoes{
    background: rgb(252, 1, 210);
    color: white;
    transition: 0.4s;
}

.botoes:hover{
    background: rgb(1, 139, 252);
    transform: scale(1.1);
}

.botaoMaior{
    width: 131px;
}

#dica{
    margin: 40px;
    text-align: center;
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    border-bottom: 1px solid grey;
}